{% extends 'base.html' %}

{% block pageTitel %}O nama - 
{% endblock pageTitel %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h1>O nama</h1>
    </div>
    <div class="col-12">
        <p>
            Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. 
            Nam sodales turpis dapibus, 
            laoreet nisi quis, molestie felis. 
            Sed vel sodales risus. Morbi tempor sapien sapien,
            non porttitor libero blandit id. 
            Nam aliquam pellentesque ante, quis pulvinar odio. 
            Donec odio tortor, mattis nec nulla eu, malesuada imperdiet mi. 
            Vestibulum dictum augue ut nunc aliquam, 
            et iaculis urna finibus. Praesent ut nulla odio. 
            Sed sed quam sit amet lorem vestibulum finibus. 
            Integer vitae ultricies justo, non porttitor lectus.
        </p>
        <p>
            In hac habitasse platea dictumst. 
            Cras pretium, magna eu luctus pulvinar, 
            velit augue eleifend turpis, ac rutrum dolor dui facilisis nisl. 
            Curabitur vestibulum ac sapien a pellentesque. 
            In non aliquam ipsum. 
            Sed vitae tortor a tellus ornare finibus. 
            Proin nisl arcu, eleifend sed metus quis, 
            blandit malesuada lectus. Sed quis nibh in nisi ultricies gravida. 
            Maecenas tempor enim ante. 
            Fusce scelerisque nunc vel nisi 
            consectetur elementum. Nunc ac pharetra odio. 
            Quisque tempus leo mi, 
            eu malesuada libero facilisis quis. 
            Aenean sagittis condimentum velit a posuere. 
            Phasellus tempor at lacus eget dictum.
        </p>
    </div>
</div>

{% endblock body %}